In [4]:
import operator
import pandas
import seaborn as sns
%matplotlib inline
from collections import Counter

In [5]:
df = pandas.read_pickle('firerescue.pickle')

In [7]:
for index, row in df.iterrows():
    print(row['incident_url'])
    break

https://www.firerescue1.com/incident-reports/455329-Tualatin-Valley-Fire-Rescue-respond-to-apartment-fire/

In [4]:
departments = Counter(row['fire_department'] 
                      for index, row in df.iterrows())

In [5]:
print('number of departments', len(departments))
print('number of departments with one incident', 
      list(departments.values()).count(1))

number of departments 132
number of departments with one incident 100

In [6]:
dates = Counter(row['incident_reporting_date'].year
                for index, row in df.iterrows())

In [7]:
dates

Counter({2004: 2, 2005: 56, 2006: 152, 2007: 97, 2008: 97, 2009: 10})

In [11]:
paragraphs_distr = Counter(len(row['incident'])
                         for index, row in df.iterrows())

In [13]:
for count, num_paragraphs in sorted(paragraphs_distr.items(),
                                    key=operator.itemgetter(1),
                                    reverse=True):
    print(count, num_paragraphs)

3 82
4 75
2 40
0 39
5 38
1 33
6 32
7 18
8 17
9 11
11 10
10 8
13 3
14 3
12 2
15 1
29 1
31 1

In [16]:
states = Counter(row['state_abbr']
                 for index, row in df.iterrows())

In [17]:
states

Counter({'AK': 7,
         'CA': 202,
         'CT': 3,
         'FL': 16,
         'GA': 5,
         'ID': 1,
         'IL': 10,
         'LA': 1,
         'MA': 10,
         'MD': 7,
         'MI': 2,
         'MO': 1,
         'MT': 1,
         'N/A': 4,
         'NC': 1,
         'NJ': 21,
         'NV': 8,
         'NY': 20,
         'OR': 50,
         'PA': 3,
         'SC': 1,
         'TN': 12,
         'TX': 20,
         'VT': 6,
         'WA': 1,
         'WI': 1})